.add {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: green;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: red;
  padding: 10px;
  margin-bottom: 10px;
}

.main {
  display: flex;
  width: 90%;
  align-items: flex-start;
  flex-direction: column;
  /*background-color: dimgray;*/
  margin: auto;
}

.searchBarGrowLeft {
  width: 15%;
  direction: rtl;
}
.searchBarGrowLeft > * {
  /* So that it'll grow ltr*/
  direction: ltr;
}

.header {
  display: flex;
  align-self: center;
}

.horizontalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}
